/* Carrito de compras!! */

.titulo1{
    text-align: center;
    font-size: 3rem;
    color: blue;
    text-decoration: underline;
}
​
.titulo{
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}
​
.button-send{
    max-width: 150px;
    height: 30px;
    border-radius:10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    box-sizing: border-box;
}
    
​
.color-button{
    background-color: skyblue;
}
​
.subtitulos{
    font-size: 1.5rem;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
​
.forLabel{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}
​
.myGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}
​
.pago{
    display: flex;
    flex-direction: column;
    align-items: center;
​
}