* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body {
    background-color: #fff; 
}

  
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
  }
  
  nav ul li {
    padding: 0 1rem;
    display: inline-block;
    list-style: none;
  }

  #logo {
    width: 100px;
    height: auto;
    padding-left: 10px;
}


.section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  imgCar1, imgCar2, imgCar3, imgCar4 {
      width: 300px;
      height: 220px;
  }

/* Carrito de compras!! */

.titulo1{
    text-align: center;
    font-size: 3rem;
    color: blue;
    text-decoration: underline;
}
​
.titulo{
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}
​
.boton{
    display: flex;
}
.boton2{
    display: flex;
}
/* .forma-de-pago{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row: 1/3;
} */